body {
  margin: 0;
  padding: 0;
  border: 2px solid black;
  height: 100vh;
}

.container {
  min-height: 80vh;
  width: 100%;
  max-width: 50%;
  position: relative;
  margin: 0 auto;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid red;
}

.list {
  padding-left: 0;
  /* padding: 0;
  margin: 0; */
  list-style: none;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* justify-content: flex-end; */
  /* width: 100%; */
}

.list input {
  margin-right: 10px;
}

.todo-app {
  background-color: #5c5858;
  border-radius: 4px 4px 0 0;
  width: 100%;
  box-shadow: 0 0 2px 1px rgb(184, 182, 182);
  max-width: calc(100%-50px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

[class^='todo-list__item'] {
  cursor: pointer;
  border: 2px solid black;
}

.todo-list__item--completed {
  text-decoration: line-through;
}

.todo-list__item--active {
  color: rgb(27, 236, 27);
}

input {
  cursor: pointer;
}
